<?xml version="1.0"?>

<launch>
    <arg name="gui" default="True" />
    <arg name="frame_editor" default="False" />
    <arg name="position_noise_std" default="0.00001" />
    <arg name="wrench_noise_std" default="0.5" />

    <!-- marker -->
    <node name="interactive_transform_publisher" pkg="interactive_transform_publisher" type="interactive_transform_publisher_node">
        <param name="interactive_pose_topic" value="itasc_set_pose"/>
        <param name="interactive_pose_parent" value="base_link"/>
        <param name="interactive_pose_child" value="marker"/>
        <param name="initial_pose/position/x" value="0.4"/>
        <param name="initial_pose/position/y" value="0"/>
        <param name="initial_pose/position/z" value="0.4"/>
        <param name="initial_pose/orientation/x" value="1"/>
        <param name="initial_pose/orientation/y" value="0"/>
        <param name="initial_pose/orientation/z" value="0"/>
        <param name="initial_pose/orientation/w" value="0"/>
    </node>

    <node name="target1_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 marker target1 100"/>
    <node name="target2_publisher" pkg="tf" type="static_transform_publisher" args="0.3 -0.1 0.4 1 0 0 0 base_link target2 100"/>
    <node name="target3_publisher" pkg="tf" type="static_transform_publisher" args="0.3 0.1 0.4 1 0 0 0 base_link target3 100"/>

    <node name="start_pos_publisher" pkg="tf" type="static_transform_publisher" args="0.5 0 0 1 0 0 0 base_link start_position 100"/>
    <node name="start2_pos_publisher" pkg="tf" type="static_transform_publisher" args="0.5 0 0 0 0 0 1 base_link start_position2 100"/>

    <node name="tool_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0.05 0 0 0 1.0 tool0 tool 100"/>
    <node name="world_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1.0 base_link world 100"/>

    <!-- robot description -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find pitasc_common)/urdf/ur_description/urdf/ur5.xacro'" />

    <!-- robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pitasc_common)/launch/pitasc_3d.rviz" if="$(arg gui)"/>

    <!-- simulator -->
    <node name="simulator" pkg="microsim" type="micro_simulator.py" output="screen">
        <param name="tool_frame" value="tool0"/>
        <param name="limit_joints" value="False"/>
        <param name="position_noise_std" value="$(arg position_noise_std)" />
        <param name="wrench_noise_std" value="$(arg wrench_noise_std)" />
        <rosparam param="initial_state">
            shoulder_pan_joint: 0.0
            shoulder_lift_joint: -1.57
            elbow_joint: 1.57
            wrist_1_joint: -1.57
            wrist_2_joint: -1.57
            wrist_3_joint: -1.57
        </rosparam>
    </node>

    <!-- republish the joint velocities from a C++ node (https://gitlab.cc-asp.fraunhofer.de/pitasc/pitasc/-/issues/367) -->
    <node name="joint_vel_republisher" pkg="microsim" type="joint_vel_republisher_node" output="screen" />

    <group if="$(arg frame_editor)">
        <!-- headless -->
        <node unless="$(arg gui)" pkg="frame_editor" type="editor.py" name="frame_editor"
            ns="editor1" args="--load '$(find pitasc_common)/launch/targets.yaml'" output="screen" />

        <node unless="$(arg gui)" pkg="frame_editor" type="editor.py" name="frame_editor"
            ns="editor2" args="--load '$(find pitasc_common)/launch/targets2.yaml'" output="screen" />

        <!-- with GUI -->
        <node if="$(arg gui)"
            pkg="rqt_gui" type="rqt_gui" name="frame_editor" output="screen"
            args="--standalone frame_editor --args --load 'pitasc_common launch/targets.yaml' --rate 10" />
    </group>

</launch>
